<%- include('./../partials/header') %>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

   
<div class="containerSign" id="container">
  <div class="form-container sign-up-container">
    <form action="/signuplogin/create" method="post">
      <h1 class="black">Create Account</h1>
      <div class="social-container">
        <a href="/auth-google" class="social"><i class="fab fa-google" style="color: black;"></i></a>
      </div>
      <span class="black">or use your email for registration</span>
      <input type="text" placeholder="Name" name="name"/>
      <input type="email" placeholder="Email" name="email"/>
      <input type="password" placeholder="Password" name="password"/>
      <button type="submit">Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="/signuplogin/login" method="post">
      <h1 class="black">Sign in</h1>
      <div class="social-container">
        <a href="/auth-google" class="social"><i class="fab fa-google" style="color: black;"></i></a>
      </div>
      <span class="black">or use your account</span>
      <input type="email" placeholder="Email" name="email" />
      <input type="password" placeholder="Password" name="password" />
      <a href="" class="black forgot">Forgot your password?</a>
      <button type="submit">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p class="white">
          To keep connected with us please login with your personal info
        </p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p class="white">
          Enter your personal details and start journey with us
        </p>
        <button class="ghost" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<script>

  const loaderContainer = document.getElementById('loader-container');
  function showLoader() {
    loaderContainer.classList.remove('hidden');
  }
  const forms = document.querySelectorAll('form');

  forms.forEach((form) => {
    form.addEventListener('submit', function () {
      showLoader();
    });
  });

  window.addEventListener('load', function () {
    loaderContainer.classList.add('hidden');
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<% if (locals.errorMessage) { %>
  <script>
    Toastify({
      text: "<%= locals.errorMessage %>",
      backgroundColor: "linear-gradient(to right, #ff5f6d, #ffc3a0)",
      duration: 3000,
      close: true,
    }).showToast();
  </script>
<% } %>