<%- include('../partials/header') %>
<section class="accueil">
  <div class="container">
    <span class="titleHome">JollofNet, Partage, Rapide et Sécurisé</span>
    <p class="para">
      JollofNet propose un service innovant de partage de WiFi, que ce soit de
      manière payante ou gratuite. Simplifiez la gestion de votre connexion
      Internet en partageant facilement vos codes d'accès et en contrôlant votre
      box.
    </p>
  </div>
  
    <span class="vector1"></span>
    <span class="vector2"></span>

</section>
<section class="container1">
    <h1 class="title">Avantages</h1>
    <div >
        <div class="Avantage">
            <h3 class="titleAvantages">Controle et Sécurité</h3>
            <p>Vous pouvez gerer qui peut gérer qui a accès à votre réseau, garantissant ainsi la sécurité de votre connexion.</p>

        </div>
        <div class="Avantage">
            <h3 class="titleAvantages">Accées Facilité</h3>
            <p>Simplifie le partage de codes d'accès, rendant l'expérience plus fluide pour les invités ou clients.</p>

        </div>
        <div class="Avantage">
            <h3 class="titleAvantages">Monétisation</h3>
            <p>Vous pouvez gerer qui peut gérer qui a accès à votre réseau, garantissant ainsi la sécurité de votre connexion.</p>

        </div>
        <div class="Avantage">
            <h3 class="titleAvantages">Suivi et Gestion</h3>
            <p>Des outils d'analyse permettent de suivre l'utilisation du WiFi, d'optimiser les performances et de gérer la bande passante.</p>

        </div>
        <div class="Avantage">
            <h3 class="titleAvantages">Mise a jour automatique</h3>
            <p>Les utilisateurs bénéficient toujours des dernières fonctionnalités et améliorations de votre modem sans avoir à se soucier des mises à jour manuelles.</p>

        </div>
        <div class="Avantage">
            <h3 class="titleAvantages">Controle et Sécurité</h3>
            <p>Vous pouvez gerer qui peut gérer qui a accès à votre réseau, garantissant ainsi la sécurité de votre connexion.</p>

        </div>
    </div>
</section>
<section class="container1 margin">
    <h1 class="title center">Tarifs</h1>
    <div class="pricing_8">
        <div class="responsive-container-block big-container">
          <div class="responsive-container-block container">
            <div class="responsive-container-block card-container">
              <div class="responsive-cell-block wk-mobile-12 wk-desk-4 wk-ipadp-6 wk-tab-12" id="io1t-2">
                <div class="card card-selected">
                  <div class="card-header">
                    <div class="row">
                      <span class="sub-title">
                        Premium
                      </span>
                    </div>
                    <p class="dollarSign">
                      $
                    </p>
                    <div class="rowDown">
                      <p class="price">
                        15
                      </p>
                      <p class="duration">
                        /Monthly
                      </p>
                    </div>
                  </div>
                  <div class="card-body">
                    <br>
                    <p class="text-blk cardDescription">
                      Semaj Africa is an online education platform that delivers video courses, programs and resources for
                    </p>
                    <div class="fullFeature">
                      <img class="image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/e2lp7.svg">
                      <p class="text-blk features">
                        Unlimited Download
                      </p>
                    </div>
                    <div class="fullFeature">
                      <img class="image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/e2lp7.svg">
                      <p class="text-blk features">
                        Offline Accessibility
                      </p>
                    </div>
                    <div class="fullFeature">
                      <img class="image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/e2lp7.svg">
                      <p class="text-blk features">
                        24/7 Supports
                      </p>
                    </div>
                    <div class="fullFeature">
                      <img class="image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/e2lp7.svg">
                      <p class="text-blk features">
                        Jobs Opportunity
                      </p>
                    </div>
                    <div class="fullFeature">
                      <img class="image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/e2lp7.svg">
                      <p class="text-blk features">
                        2.0% Transaction Fee
                      </p>
                    </div>
                  </div>
                  <img class="cardBottomImg image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/e2lp8.svg">
                </div>
              </div>
              <div class="responsive-cell-block wk-mobile-12 wk-desk-4 wk-ipadp-6 wk-tab-12" id="ikawy-2">
                <div class="card">
                  <div class="card-header">
                    <div class="row">
                      <span class="sub-title">
                        Premium
                      </span>
                    </div>
                    <p class="dollarSign">
                      $
                    </p>
                    <div class="rowDown">
                      <p class="price">
                        120
                      </p>
                      <p class="duration">
                        /Annually
                      </p>
                    </div>
                  </div>
                  <div class="card-body">
                    <br>
                    <p class="text-blk cardDescription">
                      Semaj Africa is an online education platform that delivers video courses, programs and resources for
                    </p>
                    <div class="fullFeature">
                      <img class="image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/e2lp7.svg">
                      <p class="text-blk features">
                        Unlimited Download
                      </p>
                    </div>
                    <div class="fullFeature">
                      <img class="image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/e2lp7.svg">
                      <p class="text-blk features">
                        Offline Accessibility
                      </p>
                    </div>
                    <div class="fullFeature">
                      <img class="image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/e2lp7.svg">
                      <p class="text-blk features">
                        24/7 Supports
                      </p>
                    </div>
                    <div class="fullFeature">
                      <img class="image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/e2lp7.svg">
                      <p class="text-blk features">
                        Jobs Opportunity
                      </p>
                    </div>
                    <div class="fullFeature">
                      <img class="image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/e2lp7.svg">
                      <p class="text-blk features">
                        2.0% Transaction Fee
                      </p>
                    </div>
                  </div>
                  <img class="cardBottomImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/e2lp8.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<%- include('../partials/footer') %>
